footer(class="footer")
  div(class="footer-text")
    | Если есть вопросы по оплате, напишите Алине
  div(class="whatsapp-wrapper")
    a(href="https://wa.me/79321241224", class="whatsapp-link", target="_blank")
      img(src="images/whatsapp.svg", class="whatsapp-image", alt="")
      span(class="whatsapp-text")
        | +79321241224