header(class="header")
  div(class="header-top")
    a(href="/", class="logo-link")
      img(src="images/logo.svg", class="logo-image", alt="")
    h1(class="title")
      | Оплата заказа №71964

  div(class="header-bottom")
    div(class="info")
      | Курс “С деньгами на ты”. Поток с 27.04.2022. Тариф БАЗА. Оплата в течении 2 часов
    div(class="price")
      div(class="price-old")
        | 12 900 руб
      div(class="price-new")
        | 11 900 руб